:root {
  /* Global colors */
  --primary: #c93905;
  --secondary: #316db1;
  --bkg-primary: #f9f9f9;
  --bkg-secondary: #f0f2f1;
  --text: #191919;
  --border: #ccc;

  /* Specific use case colors */
  --search-bar: #707070;
  --nav-hover-bkg: #fbe2cd;
  --github-logo: #333;
}

html {
  font-size: 17px;
  line-height: 1.2;
}

code {
  font-size: 0.8rem;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
  /* Need white background for color contrast */
  background-color: white;
  border: 1px solid var(--border);
  border-radius: 10px;
}

:not(pre)>code[class*=language-plaintext] {
  background-color: #f5f2f0;
  border-radius: 2px;
}

.hero {
  padding: 3rem;
  margin: 3rem 0;
  text-align: center;
}

.fa-github {
  font-size: 2em;
  color: var(--github-logo);
}

.landing-offcolor {
  background-color: var(--bkg-secondary);

}

.news-content {
  margin-left: 1.5rem;
}

/* Buttons */

a {
  color: var(--secondary);
}

.btn-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-primary {
  border-color: var(--secondary);
  color: var(--secondary);
}

.btn-outline-primary:hover {
  background-color: var(--secondary);
}

/* Navbar */

.navbar a.github-menu {
  margin: 20px 0;
}

.navbar-collapse>ul,
.navbar-collapse>a.github-menu {
  padding-left: 1rem;
}

/* Header */

.header-nav .nav-item {
  padding: 4px 0 0 0;
  margin: 0 10px;

}

.header-nav .nav-link {
  font-size: 1.2rem;
  padding: 0;
  margin-bottom: 5px;
}

.header-nav .nav-link.active {
  border-bottom: 3px solid var(--primary);
}

/* Nav list */

.nav-list-expander {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: -2px;
  top: 6px;
  color: var(--text);
}

.nav-list-expander svg {
  width: 1rem;
  height: 1rem;
  color: var(--text);
}

/* Nav group */

.nav-group {
  padding: 20px 0 0 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-group.nav-subgroup {
  font-size: 15px;
}

.nav-item:first-child .nav-group {
  padding-top: 0;
}

/* Sidebar */

.left-nav-column {
  max-width: 320px;
}

#sidebar {
  padding-top: 6px;
}

#sidebar .nav-link {
  font-size: 15px;
  line-height: 24px;
  padding: 8px 32px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--text);
}

#sidebar .nav-item.active svg {
  transform: rotate(90deg);
}

#sidebar .nav-link.active+a svg {
  color: var(--bkg-primary);
}

#sidebar .nav-item {
  position: relative;
  max-width: 300px;
}

#sidebar .navbar-nav {
  margin-left: -12px;
}

#sidebar .nav-link:hover {
  background-color: var(--nav-hover-bkg);
}

#sidebar .nav-link-top {
  padding: 8px 20px;
}

#sidebar .nav-link.active {
  background-color: var(--primary);
  color: var(--bkg-primary);
}

#sidebar .nav-link.active:hover {
  color: var(--bkg-primary);
}

/* Footer */

footer {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

footer a,
footer a:hover,
footer a:visited {
  color: var(--primary);
}

/* Breadcrumb */

.breadcrumb {
  margin-bottom: 0.75rem;
}

.breadcrumb-item {
  text-transform: uppercase;
  font-size: 14px;
}

/* Content */

.docs-content a,
.docs-content a:hover,
.docs-content a:visited {
  color: var(--primary);
}

.docs-content {
  h1 {
    margin-bottom: 1em;
  }
  h2 {
      margin-top:1em;
  }
}

.docs-content .anchor-heading {
  position: absolute;
  right: -1rem;
  width: 1.5rem;
  padding: 0 0.25rem;
  overflow: visible
}

@media (min-width: 50rem) {
  .docs-content .anchor-heading {
    right: auto;
    left: -1rem
  }
}

.docs-content .anchor-heading svg {
  display: inline-block;
  position: absolute;
  width: 75%;
  top: 11px;
  color: var(--primary);
  visibility: hidden;
  opacity: 0.4;
}

.docs-content h2 .anchor-heading svg {
  top: 11px;
}

.docs-content h3 .anchor-heading svg {
  top: 9px;
}

.docs-content h4 .anchor-heading svg {
  top: 5px;
}

.docs-content .anchor-heading:hover svg,
.docs-content .anchor-heading:focus svg,
.docs-content h1:hover>.anchor-heading svg,
.docs-content h2:hover>.anchor-heading svg,
.docs-content h3:hover>.anchor-heading svg,
.docs-content h4:hover>.anchor-heading svg,
.docs-content h5:hover>.anchor-heading svg,
.docs-content h6:hover>.anchor-heading svg {
  visibility: visible
}

/* Table of Contents */

.right-toc {
  margin-top: 6px;
  border-left: 1px solid var(--border);
  padding-left: 1rem;
}

.right-toc h5 {
  padding-top: 10px;
}

.right-toc a,
.right-toc a:visited {
  color: var(--text);
  text-decoration: none;
}

.right-toc a:hover {
  color: var(--primary);
}

.docs-body {
  max-width: 860px;
}


/* Search */

.search-container {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 1rem;
  z-index: 2000;
}

.search-active .search-results {
  display: block;
}

.search-results {
  position: absolute;
  display: none;
  left: 110px;
  top: 100%;
  width: 50%;
  max-height: calc(100vh - 200%) !important;
  margin-top: -20px;
  overflow-y: auto;
  background-color: var(--bkg-primary);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  z-index: 2005;
}

.search-results-list {
  font-size: 14px !important;
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none;
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding: 0.25rem 0.75rem;
  text-decoration: none !important;
}

.search-result:hover,
.search-result.active {
  background-color: var(--bkg-secondary);
}

.search-result-title {
  display: inline-block;
  width: 35%;
  padding-right: 0.5rem;
  vertical-align: top;
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
  opacity: 0.6;
  color: var(--text);
  font-size: 12px !important;
}

.search-result-doc .search-result-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: var(--primary);
  flex-shrink: 0;
}

.search-result-section {
  margin-left: 1.5rem;
  word-wrap: break-word;
}

.search-result-rel-url {
  display: block;
  margin-left: 1.5rem;
  overflow: hidden;
  color: var(--search-bar);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 9px !important;
}

.search-result-previews {
  display: inline-block !important;
  vertical-align: top;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-left: 0.5rem;
  color: var(--search-bar);
  word-wrap: break-word;
  border-left: 1px solid var(--border);
  font-size: 11px !important;
  text-decoration: none;
  width: 60%;
}

.search-no-result {
  padding: 0.5rem 0.75rem;
  font-size: 12px !important;
}

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 400ms, width 0s, height 0s;
  z-index: 1999;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search-container .input-group {
  position: absolute;
  left: 110px;
  margin-top: -18px;
  width: 50%;
  border: 0
}

.search-active .search-container .input-group-text {
  border: 0;
}

.search-active #search-input {
  border: 0;
}

/* News */

.news-notice {
  font-size: 20px;
  margin-bottom: 2rem;
}

.news-item {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
}

.news-item h2 {
  font-size: 1.5em;
}

.news-body {
  max-width: 800px;
}

.news-body h1 {
  margin-bottom: 0;
  padding-bottom: .5rem;
}

.news-body time {
  font-weight: bold;
  padding-bottom: 1rem;
  display: block
}

/* Grid */

.grid {
  width: 100%;

  thead {
    border-bottom: 1px solid var(--border);
  }

  td,
  th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align:top;
  }
  td {
    padding-bottom:1em;
  }
  td:last-child,
  th:last-child,
  td:nth-child(2),
  th:nth-child(2) {
    border-left: 1px solid var(--border);
    & a {
      white-space:nowrap;
    }
  }
}

/* for some reason other grid classes could not inherit from .grid */
.scratch-grid {
  width: 100%;

  thead {
    border-bottom: 1px solid var(--border);
  }

  td,
  th {
    padding-left: 7px;
    width: 51%;
  }

  td:last-child,
  th:last-child {
    border-left: 1px solid var(--border);
  }
}

.multi-grid {
  width: 100%;

  thead {
    border-bottom: 1px solid var(--border);
  }

  td,
  th {
    padding-left: 7px;
  }

  td:last-child,
  th:last-child,
  td:nth-child(2),
  th:nth-child(2) {
    border-left: 1px solid var(--border);
  }
}

.footnotes {
  border-top:1px solid var(--border);
  margin-top:2em;
  padding-top:1em;
}