---
layout: base
---
{% include icons/icons.html %}
<div class="container-fluid docs-content">
  <div class="row breadcrumbs-row d-none d-lg-flex">
    <div class="col-lg-3 left-nav-column">
    </div>
    <div class="col-lg-7">
      <div class="docs-body mx-auto">
      {% include breadcrumbs.html pages=site.html_pages key=nil %}
      </div>
     
    </div>
    <div class="col-lg-2"></div>
    
  </div>
  
  <div class="row">
    <div class="col-lg-3 order-1 left-nav-column">
      <div>
        <a class="d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        Show Navigation
        </a>
        {% include nav.html pages=site.html_pages key=nil %}
      </div>
    </div>
    <div class="col-lg-2 order-2">
      <div class="sticky-top d-none d-lg-block">
        <nav id="toc" data-toggle="toc" class="right-toc">
          <h1 class="toc-header h5">On this page</h1>
        </nav>
      </div>
    </div>
    <div class="col-lg-7 order-1">
      <div class="docs-body mx-auto" id="content">
      {{ content }}
      </div>
    </div>
  </div>
</div>
