---
layout: base
---

<div class="container">
  <div class="hero" id="content">
    <img src="https://inferno.healthit.gov/images/inferno_logo.png" alt="Inferno logo" height="200">
    <h1 class="mb-5">
      Create, execute and share <br>
      conformance tests for
      FHIR&reg; APIs.
    </h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3 rounded-pill" href="/about/">About Inferno</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="/docs/">Build Tests</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid landing-offcolor">

<div class="col-md-10 mx-auto py-5">
  <h1 class="my-4 text-center" >Test FHIR&reg; APIs using a simple but powerful DSL</h1>
  <div class="text-center">
    Inferno Framework provides a flexible testing DSL that is tailored to
    the typical needs of conformance testing systems.  You write the tests,
    and Inferno will provide web, command line, and JSON API for you. 
  </div>
  <pre class="bg-white rounded border-dark"><code class="language-ruby bg-white">test do
  title 'Server returns requested Patient resource from the Patient read interaction'

  input :patient_id

  run do
    fhir_read(:patient, patient_id, name: :patient)

    assert_response_status(200)
    assert_resource_type(:patient)
    assert resource.id == patient_id,
          "Requested resource with id #{patient_id}, received resource with id #{resource.id}"
  end
end</code>
  </pre>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-10 mx-auto my-5 text-center">
    <h1 class="my-4">A Web UI, Out of the Box</h1>
    <div>
      <p>Inferno ships with a web based user interface suitable for local use or deploying as a shared, central service.</p>
    </div>
    <figure class="figure">
    <img class="img-thumbnail figure-img img-fluid mx-auto d-block" src="https://inferno-framework.github.io/inferno-core/web-ui.png" alt="Inferno Web UI" width="800px">
  <figcaption class="figure-caption text-end">Screenshot of Inferno Test Interface</figcaption>
</figure>
  </div>
  <div class="col-lg-6 mx-auto my-5 text-center">
    <h1 class="my-4">Create, Share, Extend</h1>
    <div>
      <p>Inferno Test Kits can be easily shared and extended so you can focus on your unique tests.</p>
      <pre class="rounded border-dark"><code class="language-ruby">require 'smart_app_launch_test_kit'

module MyTestKit
  class MyTestSuite < Inferno::TestSuite
    group from: :smart_discovery
  end
end</code>
</pre>
    </div>
  </div>
</div>

{% include footer.html %}
